NODE_ENV=development
API_PORT=3000

DB_HOST=db
DB_PORT=5432
DB_USER=appuser
DB_PASS=supersecret
DB_NAME=appdb

PGADMIN_DEFAULT_EMAIL=admin@local.test
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_LISTEN_PORT=8080
